body{
    background-image: url(/WebsiteProj01/Imagesproj/Download-Page-BG.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    align-items: center;
    padding: 11px 0px 0px 400px;
    margin-left: -60px;
}
.header img{
    width: 100px;
    padding: 0px -10px 0px 40px;
}
.header1{
    padding: 0px 205px 0px 0px;
}
.header .yong img{
    width: 130px;
}
.yong img{
    margin-left: -170px;
    margin-top: -40px;
    padding: 0px 5px 0px 0px;
}
.yong{
    padding-top: 15px;
}
#mask:hover{
    filter: drop-shadow(0 0 .9rem rgb(255, 217, 0));
    backdrop-filter: blur(5px) saturate(.9rem);
    transform: scale(1.4);
}
#text{
    align-items: center;
    width: 300px;
    margin-left: 500px;
}
.dloader {
    position: absolute;
}
.dloader img{
    width: 300px;
    padding: 6px 0px 0px 498px;
}
#rq{
    position: absolute;
}
#rq img{
    width: 470px;
    padding: 200px 0px 0px 440px;
}
.socmed{
    position: relative;
    display: flex;
    padding: 0px 0px 0px 480px;
    margin-top: 389px;
    margin-left: -10px;
    margin-bottom: -10px;
}
.socmed img{
    width: 200px;
}